@import "tailwindcss";

@theme {
  --color-gatwick-viking: #61AFDF;
  --color-gatwick-congress-blue: #004990;
  --color-gatwick-teal: #009898;
  --color-gatwick-orange: #F58220;
}

:root {
  --background: #61AFDF;
  --foreground: #004990;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans); 
  --font-mono: var(--font-montserrat);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}